/* master css styles */

html, body {
	height: 100%
}

.jumbotron {
	position: relative;
	margin-bottom: 0;
	background-color: transparent;
	background: #e2e3e4 url('../images/ddar-banner-full.png') 50% 50% no-repeat;
	background-size: cover;
	min-height: 175px;
}

.nav a.selected {
	font-weight: bold;
	color: #576ea9 !important;
}

@media (min-width: 768px) {
	.navbar .navbar-nav {
		display: inline-block;
		float: none;
		vertical-align: top;
	}

	.navbar .navbar-collapse {
		text-align: center;
	}
}


@media only screen
and (min-width : 0px)
and (max-width : 735px) {
	.jumbotron {
		min-height: 150px;
	}
}
@media only screen
and (min-width : 1185px) {
	.jumbotron {
		min-height: 200px;
	}
}
@media only screen
and (min-width : 1635px) {
	.jumbotron {
		min-height: 225px;
	}
}
@media only screen
and (min-width : 2085px) {
	.jumbotron {
		min-height: 250px;
	}
}
@media only screen
and (min-width : 2530px) {
	.jumbotron {
		min-height: 280px;
	}
}
