/* css styles for pages */

.media img {
	border: 1px solid #e3e3e3;
}

.error-template {
	text-align: center;
}

/* for dataset list */
.dl-horizontal dt {
	width: 90px;
	white-space: normal;
}

.dl-horizontal dd {
	margin-left: 110px;
}
